body {
    font-style: normal; /* Change font for better readability */
    background-color: #0f0101; /* Set a light background color */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    height: 100%;
  }
  .whole{
    margin:150px;
    display:flex;
    text-align: center;
    width:auto;
    background-color: #0A64FF;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg stroke='%23000' stroke-width='66.7' stroke-opacity='0.05' %3E%3Ccircle fill='%230A64FF' cx='0' cy='0' r='1800'/%3E%3Ccircle fill='%232d5cef' cx='0' cy='0' r='1700'/%3E%3Ccircle fill='%233c54e0' cx='0' cy='0' r='1600'/%3E%3Ccircle fill='%23444dd1' cx='0' cy='0' r='1500'/%3E%3Ccircle fill='%234946c2' cx='0' cy='0' r='1400'/%3E%3Ccircle fill='%234c3fb3' cx='0' cy='0' r='1300'/%3E%3Ccircle fill='%234d38a5' cx='0' cy='0' r='1200'/%3E%3Ccircle fill='%234d3297' cx='0' cy='0' r='1100'/%3E%3Ccircle fill='%234b2c8a' cx='0' cy='0' r='1000'/%3E%3Ccircle fill='%2349267d' cx='0' cy='0' r='900'/%3E%3Ccircle fill='%23452070' cx='0' cy='0' r='800'/%3E%3Ccircle fill='%23411b64' cx='0' cy='0' r='700'/%3E%3Ccircle fill='%233d1658' cx='0' cy='0' r='600'/%3E%3Ccircle fill='%2338124c' cx='0' cy='0' r='500'/%3E%3Ccircle fill='%23320d42' cx='0' cy='0' r='400'/%3E%3Ccircle fill='%232c0937' cx='0' cy='0' r='300'/%3E%3Ccircle fill='%2326062d' cx='0' cy='0' r='200'/%3E%3Ccircle fill='%23210024' cx='0' cy='0' r='100'/%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
  }
  
  .container {
     /* Limit container width for better readability */
    padding: 20px;
    background-color:#dddddd; /* Set a white background */
    height:80%;
    width:auto;
    margin-left:auto;
   }
   
   
  
  input
  button {
    display: block; /* Display inputs and button as block elements */
    width: calc(100% - 20px); /* Set width to 100% minus padding for better fit */
    margin: 10px auto; /* Center elements horizontally */
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    
  }
  
  input:focus,
  button:focus {
    border-color: #c88da9;
  }
  
  button {
    display: block;
  width: 300px;
  height: 40px;
  margin: 0 auto 10px auto;
  padding: 12px;
  border-radius:7px;
  border:0;
  background-color: #751ec7;
  color: white;
  cursor: pointer;
  transition: background-image 0.1s;
  outline: none;
  font-size: 16px;
  }
  button:hover {
    background-color: #4666a2a9;
    color:rgb(241, 230, 230);
    box-shadow: inset;
  }
  select{
    block-size: 40px;
    padding:10px;
    border-radius:10px;
    font-weight: 100;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: #f7f3f3;
    border:0;
    text-size-adjust: 20px;
    width: 65%;
    box-sizing: border-box;
    display:inline-block;
  
  }
  label{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 65%;
    padding: 20px;
    box-sizing: border-box;
    text-indent: 30px;
    display: inline;
  }
  .result{
    margin: 50px auto; /* Center the container horizontally */
    padding: 60px;
    border-radius: 10px;
    background-color:#b6afa9; /* Set a white background */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: block;
    
  }
  .header p{
    left:10px;
    display: inline;
  }